apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # ClusterFirst + nameservers supplémentaires = résolution K8s + externe
      dnsPolicy: ClusterFirst
      dnsConfig:
        nameservers:
          - 8.8.8.8
          - 8.8.4.4
        searches:
          - default.svc.cluster.local
          - svc.cluster.local
          - cluster.local
        options:
          - name: ndots
            value: "5"
      
      containers:
        - name: frontend
          image: emmanueljprime/frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000

          env:
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:8000"
            - name: ANIME_SERVICE_URL
              value: "http://anime-service:5000"
            - name: CATALOG_API_URL
              value: "https://api.jikan.moe/v4/"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:4000"

          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5